/*!
 * Roots 6.5.1
 */

@import "../fonts/SofiaProLight.css";
@import "bootstrap/bootstrap.less";

@green: #246a27;

/* ==========================================================================
   Base
   ========================================================================== */

body, h1, h2, h3, h4, h5, h6 { 
   font-family: 'sofia_pro_lightregular';
}
body {
   background: @green url('../img/grass.jpg') top center repeat;
   text-rendering: optimizelegibility;
   -webkit-font-smoothing: antialiased;
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner { 
   background: #fff;
   padding: 0 30px;
}
.brand {
   display: block;
   width: 140px;
   height: 140px;
   margin-top: 20px;
   text-indent:-9999px;
}
#menu-primary-navigation {
   margin: 50px 0;
   font-size: 18px;
   // text-transform: uppercase;
   a {
      color:#333;
   }
   li.active a   {
      color: #fff;
      background: tint(@green, 50%);
   }
   li a:hover {
      background: tint(@green, 90%);
   }
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { 
   background: #fff;
}
.splash-text {
   background: @green url(../img/splash-bg.jpg) top left repeat-y;
   margin: 60px 0;
   img { width: 100% }
}
.img-bullets {
   list-style:none;
   margin: 0;
   padding: 0;
   font-size: 18px;
   li {
      display: block;
      padding: 20px 0 20px 100px;
      margin: 10px 0;
      background-position: left center;
      background-repeat: no-repeat;
   }
   .hse { background-image: url('../img/bullet-hse.png'); }
   .trials { background-image: url('../img/bullet-combine.png'); }
   .conducted { background-image: url('../img/bullet-conducted.png'); }
   .ard { background-image: url('../img/bullet-ard.png'); }
} 



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { 
   padding: 0 30px;
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { 
   padding: 0 30px 0 0;
}
.sidebar-img {
   border-radius: 10px;
   width: 100%;
}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { 
   background: #fff;
   margin-bottom: 60px;
   padding: 30px;
   color:#999;
}
.footer-logo {
   width: 70px;
   height: 70px;
   float: right;
}
.linkedin {
   width: 128px;
   height: 34px;
   margin: (70-34)/2px 0;
   display: block;
   float: right;
   span { display: none; }
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
